@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4e3f36;
  font-family: "hina-mincho", sans-serif;
  font-weight: 400;
  font-style: normal;

}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

body {
    /* max-width: 1000px; */
    margin: 0 auto;
    background-color: #fcf8e7;
     background-image: url(../images/PF_texture_03.jpg); 
     background-size: 100%;
     background-blend-mode: multiply;
    /* width: 1366px;
    height: 1000px;  */
}

/* ここまでリセットcss */


/* ローディング */

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    /* 背景色の設定 */
    background-color: #f3e6d9;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading > img {
    width: 103px;
    position: relative;
    bottom: 40px;
    left: 30px;
    animation: rotate-z 2s linear infinite; /* Spin it once in 2 seconds. */
  }

  @keyframes rotate-z {
    from { transform: rotateZ(0deg); }
    to { transform: rotateZ(360deg); }
  }

  .loading_padding {
    position: fixed;
    width: 100%;
    height: 100%;
    /* 背景色の設定 */
    /* background-color: #f3e6d9; */
    z-index: 800;
    /* top: 550px;
    left: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }
  .loading_padding img {
    width: 200px;
  }

  .loading_padding {
    /* padding-top: 100px; */
  }
  






.tab_header {
    display: none;
}

.header_logo {
    width: 203px;
    padding: 5% 0 0 35%;
    position: relative;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 30px;
}



/* あしらい固定 */
.commitment_img {
    max-width: 900px;
    width: 90%;
    position: absolute;
    top: 0;
    left: -10px;
  }

  .tab_commitment_img {
    display: none;
  }
  








/* .nav_outer {
    position: fixed;
    top: 0;
    left: 0;
} */
  

  .pc_nav {
    padding: 0 0 25px 0;
  }

  


.pc_nav ul {
    display: flex;
    list-style: none;
    font-size: 16px;
    gap: 50px;
  }

  /* .pc_nav ul > li:hover {
    color: #888888;
  } */

  .pc_nav li:last-child {
    padding: 0 70px 0 0;
  }

  .hamburger {
    display: none;
  }


  .header {
    /* position: relative; */
    /* height: 100vh; */

  }

  /* キャッチコピー */
  .catchcopy {
    font-size: 40px;
    line-height: 1.87;
    /* margin: 270px 0 0 375px; */
    font-weight: normal;
    position: absolute;
    top:  340px ;
    left: 330px;
  }

  @media screen and (max-width: 930px) {

    .catchcopy {
        font-size: 33px;
        left: auto;
        top: 280px;
        right: 25%;
    } 
  }


  /* ハンバーガー */
  .sp_nav,
  .sp_btn {
    display: none;
  }

  @media screen and (max-width: 1180px) {

    .sp_btn {
        display: block;
        height: 25px;
        cursor: pointer;
        /* 位置の調整 */
        position: absolute;
        top: 60px;
        right: 50px;
        z-index: 100;
    }

    .hbg_01 {
        display: block;
        width: 45px;
        height: 2px;
        /* 位置の調整 */
        position: relative;
        padding-bottom: 10px;
        transition: 0.5s;
    }

    .hbg_02{
        content: "";
        display: block;
        width: 45px;
        height: 2px;
        position: absolute;
        transition: 0.4s;
    }

    /* .sp_btn img {
        width: 44px;
        height: 2px;
    } */

    /* ばつじるし */
    .sp_btn.open .hbg_01  {
        padding-bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open .hbg_02 {
        top: 0;
        transform: rotate(-45deg);
    }

    /* メニューの見た目 */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        /* background: rgba(252, 242, 238, 1); */
        background: #fcf8e7;
        z-index: 1;
    }

    .sp_nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 80px;
    }

    .sp_nav ul li {
        font-size: 25px;
        text-align: center;
    }
  }

  


  @media screen and (max-width: 480px) {
    
    .sp_btn {
        top: 40px;
        right: 30px;
    }

    .sp_btn span,
    .sp_btn span::before {
        width: 35px;
        height: 2px;
    }
  }

  @media screen and (max-width: 400px) {
    
    /* .sp_btn {
        top: 40px;
        right: 30px;
    } */
  }
/* ハンバーガーここまで */





  
  /* 糸だけ色を変える */
  .thread_color {
    font-size: 60px;
    color:#c33f4e
  }

  /* こだわり部分 */
  .commitment {
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
    margin: 75% 0 0;
  }

  .sp_commitment_img {
    display: none;
  }

  .sp_commitment_br {
    display: none;
  }

  .tab_commitment {
    display: none;
  }

  .logo {
    animation: fluffy 4s infinite;
  }

  @keyframes fluffy {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

/* svgアニメーション */
#text {
    mask: url(#mask);
  }
  
  .handwriting {
    width: 100%;
    height: auto;
  }
  .handwriting_text {
    fill: #C33F4E;
  }
  
  .handwriting_mask_line {
      fill: none;
      stroke: #fff;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 20px;
      stroke-dasharray: 6000px;
      stroke-dashoffset: 6000px;
      animation: handwriting 4s linear;
      /* animation: handwriting 4s forwards; */
      animation-delay: 3s;
  }
  
  @keyframes handwriting {
    0% {
      stroke-dashoffset: 6000px;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  /* sp */

  #text_sp {
    mask: url(#mask);
  }
  
  .handwriting_sp {
    width: 100%;
    height: auto;
  }
  .handwriting_text {
    fill: #C33F4E;
  }
  
  .handwriting_mask_line {
      fill: none;
      stroke: #fff;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 20px;
      stroke-dasharray: 6000px;
      animation: handwriting 4s linear;
      animation-delay: 3s;
  }
  
  @keyframes handwriting {
    0% {
      stroke-dashoffset: 6000px;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
    
/* svgアニメーションここまで */
  

  /* 部分的に色を変える */
  .commitment_color {
    font-size: 22px;
    color:#c33f4e
  }

  /* ロゴのページへ */
  .logo_mind_btn {
    font-size: 16px;
    padding: 130px 0px 0 0px;
  }

  .logo > a {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    margin: 135px 19% 0 auto;
    gap: 10px;
  }

  .tab_logo_contents {
    display: none;
  }

  /* カンプみて調節 */

  .logo_thought {
    width: 288px;
  }

  .logo_text {
    padding-right: 20px;
  }

  .about {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 80px;
    width: 100%;
  }

  .about > div {
    margin-bottom: 45px;
  }

  .about_wrap {
    display: flex;
    margin: 150px 0 0 0;
    position: relative;
}

.about_thread {
  width: 21%;
  position: absolute;
  top: -80px;
  right: 0;
  animation: fluffy 4s infinite;
}

  .sp_about_thread {
    display: none;
  }

  .about_name {
    font-size: 25px;
    padding: 5px 0 40px 0;
  }
  .about_color {
    color:#c33f4e;
  }
  .about_name_size {
    font-size: 16px;
  }

  /* @media screen and (max-width: 767px) {

    .about_name_size {
        font-size: 13px;
    }
    
  } */

  .about_img {
    margin: 0 65px 0 0;
    width: 346px;
  }

  .about_more_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 0 0 165px;
    gap: 5px;
    animation: fluffy 4s infinite;
  }


  .about_more {
    width: 144px;
  }

  .about_more_text {
    padding-left: 30px;
  }

  .sp_about_wrap {
    display: none;
  }

  .tab_about_wrap {
    display: none;
  }

  .about_thread_adjustment {
    display: none;
  }

  .tab_about_outer {
    display: none;
  }

  .tab_about {
    margin: 0 8% 0;
  }

  .about_btn {
    display: block;
    width: 10%;
    padding:0 0 0 435px;
    position: absolute;
    top: 2200px;
    left: 0px;
    /* 一旦これで応急処置して他を進める */
  }

  .sp_about_outer {
    display: none;
  }

  .sp_support {
    display: none;
  }
  

  .support_h3{
    font-size: 30px;
    font-weight: normal;
    margin: 220px 0 120px 0;
    text-align: center;
  }

  .support_h3_color {
    color: #c33f4e;
  }



.support_box {
    display: block;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.support_icon {
    height: 50px;
}

.adjustment_tool_name {
    font-size: 14px;
    padding: 0 0 60px 0;
}

.tool_name_wrap {
    /* width: 300px; */
    padding: 0 0 0 0px;
}
.tool_name {
    font-size: 30px;
    font-weight: normal;
    border-bottom: 1px solid #888888;
}

.support_text {
    /* width: 300px; */
    padding: 30px 0 50px 0;
    line-height: 1.56;
}

.support_king {
    max-width:  1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 130px;
}

.support_wrap {
    width: 30%;
}

.support_box > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab_support {
    display: none;
}
.support {
    margin: 0 8% 0;
}



.works_wrap {
    position: relative;
}

.works_img_position {
    position: absolute;
    top: 0px;
    left: 0px;
    animation: fluffy 4s infinite;
}

.pc_mock_01 {
    width: 580px;
    display: block;
    /* margin: 0 auto; */
    /* padding: 430px 0 0 490px; */
    margin-left: auto;
    padding: 290px 21% 0 0;
    
}

.works_text {
    padding: 60px 0 0 0px;
    font-size: 25px;
    text-align: center;
}

.works_more {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 5px 320px;
    position: relative;
    z-index: 200;
    animation: fluffy 4s infinite;
}

.works_more_padding {
    padding-left:55px;
}

.ida_works_more_btn {
    width: 145px;
    display: flex;
    padding-top: 5px;
}

.sp_works {
    display: none;
}

.tab_works {
    display: none;
}

.sp_works_thread {
    display: none;
}



.contact_text {
    text-align: center;
    line-height: 1.87;
    padding: 310px 0 60px 0;
}

.contact_box {
    background-color: #f3e6d8;
    /* margin: auto; */
    /* text-align: center; */
    width: 650px;
    height: 50px;
    margin: 10px 0 40px;
    border-radius: 8px; 
    border: none;
    outline: none;
}

.contact_box_text {
    background-color: #f3e6d8;
    margin-top: 10px;
    width: 650px;
    height: 300px;
    border-radius: 8px; 
    border: none;
    outline: none;
}

.contact_wrap {
    margin: 45px 0 45px 0;
    width: 650px;
    margin: 0 auto;
}

.contact_wrap_last {
    margin: 45px 0 90px 0;
    width: 650px;
    margin: 0 auto;
}

.contact_guide {
    position: relative;
}
.contact_img {
    width: 255px;
    height: 795px;
    position: absolute;
    top: 10;
    right: 0;
    /* animation: fluffy 4s infinite; */
}

.conrtact_name {
    /* padding: 0 0 15px 370px; */
    text-align: start;
}

.contact_btn {
    width: 203px;
}

.contact_btn {
    padding: 48px 0 300px 0;
    margin: 0 auto;
    position: relative;
}

.contact_btn_text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    font-size: 16px;
}

.sp_contact {
    display: none;
}

.hooter {
    width: 100%;
    height: 70px;
    background-color: #c33f4e;
}
.hooter_wrap {
    position: relative;
}

.hooter_thanks {
    width: 100%;
    height: 70px;
    background-color: #c33f4e;
    position: absolute;
    top: 140px;
    left: 0;
}

.hooter_text {
    text-align: center;
    padding: 25px 0 0 0;
    color: #fff;
}

.top_btn_padding_toppage {
    padding: 50px 110px 0 8px;
    text-align: end;
} 

.tab_contact {
    display: none;
}

.sp_contact_thread {
    display: none;
}

/* .btn_fixed {

} */

.button {
    padding: 0;
}








/* ここからthanksページ */


.message {
    margin-top: 120px;
    text-align: center;
}

.contact_main {
    font-size: 30px;
    color: #4e3f36;
}

.contact_color {
    color:#c33f4e;
}

.message_text {
    padding: 100px 0 100px 0;
}

.thanks_img {
    width: 176px;
    /* height: 100vh; */
    position: absolute;
    top: 0;
    left: 250px;
    
}

.tab_thanks {
    display: none;
}



/* ここからAboutページ */

.tab_maincontents  {
    display: none;
}

.aboutme_contents {
    margin-top: 100px;
}

.aboutme_title {
    text-align: center;
    /* padding-bottom: 90px; */
    position: relative;
}

.ida_aboutme_thread {
    width: 468px;
    position: absolute;
    top: 0;
    left: 0;
}

.ida_aboutme_01 {
    width: 350px;
    z-index: 100;
}

.aboutme_wrap {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 0 8% 0;
}

.aboutme_text {
    width: 580px;
    padding-top: 90px;
}

.aboutme_title_02 {
    text-align: center;
    margin: 200px 0 60px 0;
}

.hobby_wrap {
    margin-bottom: 90px;
}

.hobby_tittle {
    font-size: 25px;
    padding-bottom: 10px;
}

.hobby_text_01 {
    padding-bottom: 70px;
}

.hobby_wrap {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.about_support {
    font-size:  30px;
    text-align: center;
    padding-bottom: 100px;
}

.tab_hobby_wrap {
    display: none;
}

.lower_contact {
    padding-top: 200px;
    text-align: center;
}
.lower_contact_tittle {
    font-size: 30px;
    text-align: center;
    position: relative;
}

.partition {
    width: 100%;
    position: absolute;
    top: -200px;
    left: 0;
}

.lower_contact_text {
    padding: 90px 0 80px 0;
    text-align: center;
}

.lower_contact_btn {
    width: 200px;
    margin: 48px auto 210px ;
    /* margin: 48px auto 210px; */
    text-align: center;
    position: relative;
    border: none;
    outline: none;
    padding: 0;
}

.contact_btn_wrap {
    text-align: center;
    margin-bottom: 200px;
}

.sp_footer {
    display: none;
}

.hobby_btn_wrap {
    display: none;
}

.return_wrap {
    margin-bottom: 40px;
}

.return_wrap_thanks_page {
    margin-bottom: 30px;
}

.arrow-left {
    border: 0;
    border-top: solid 2px #c33f4e;
    border-left: solid 2px #c33f4e;
    display: inline-block;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
    border-radius: 1px;
}

.return {
    text-align: center;
    /* padding-bottom: 95px; */
    position: relative;
}

.btn_position {
    width: 150px;
    /* padding: 0 0 40px 0; */
    margin-left: auto;
    position: absolute;
    top: -120px;
    right: 0px;

    /* position: fixed;
    top: 0;
    left: 0; */
}

.top_btn_padding {
    padding: 25px 110px 0 8px;
    text-align: end;
} 

.top_btn_pdg {
    padding: 50px 110px 0 8px;
    text-align: end;
}

.top_btn_thanks_page {
    padding: 50px 110px 0 8px;
    text-align: end;
}

.tab_about_me_02 {
    display: none;
}

.tab_aboutme_title_02 {
    display: none;
}

.sp_introduction {
    line-height: 1;
}

.tab_about_text_02 > p {
    padding-bottom: 5px;
}

.tab_about_name {
    line-height: 1;
}

.about_name_size {
    padding-left: 10px;
}




/* ここからロゴページ */

.logo_tittle {
    text-align: center;
    font-size: 30px;
    margin-top: 245px;
    margin-left: 4.5%;
}

.logo_visual {
    width: 350px;
}

.logo_text_adjustment {
    font-size: 18px;
    line-height: 1.66;
}
.logo_text_color {
    color: #c33f4e;
    font-size: 22px;
}

.br_550px {
    display: none;
}

.logo_wrap {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 40px 0 130px ;
    margin: 0 8% 0;
}

.tab_br_767px {
    display: none;
}

.sp_br_480px {
    display: none;
}

 .sp_br_395px {
    display: none;
}

.sp_br_375px {
    display: none;
}


/* ここからworksページ */

.works_under {
    margin-top: 120px; 
}

.works_tittle {
    padding-top: 150px;
    font-size: 30px;
    text-align: center;
}

.border_deco {
    width: 85px;
    border: dashed 2px #c33f4e;
    border-radius: 8px;
}

.works_menu {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.works_menu.active {
  background: #c33f4e;
  color: #fff;
}

.menu_wrap {
    display: flex;
    justify-content: center;
    gap: 6%;
    margin: 10% 8% 13%;
}

.works_exhibition {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}


.sp_works_under {
    display: none;
}
@media screen and (max-width: 767px) {

    .works_exhibition {
        gap: 0px;
    }
    
}

.exhibition_box {
    background-color: #f3e6d8;
    border-radius: 8px;
    text-align: center;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 100;
}

.works_exhibition > div {
    max-width: 350px;
    width: 100%;
}

.works_mock_size {
    max-height: 270px;
    height: 80%;
}

.works_mock_size_LP {
    max-height: 270px;
    height: 65%;
}

.works_img_tittle {
    text-align: center;
    padding: 30px 0 100px 0;
}

.arrow {
    width: 30px;
    height: 30px;
}

/* .page_scroll {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 130px;
} */
.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 130px;
}
.prev .arrow {
  transform: rotate(180deg);
}
.disabled .arrow {
  opacity: 0.3;
}
.pagination .first,
.pagination .last {
  display: none;
}
.current_page {
  text-decoration: underline;
}

.arrow_rotation {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
}

.underbar {
    text-decoration: underline;
}

.works_tittle {
    margin-bottom: 130px;
}

.works_name {
    font-size: 25px;
    margin-bottom: 80px;
}

.detail {
    display: flex;
    gap: 100px;
    border-left: 10px solid #c33f4e;
    margin-bottom: 65px;
    padding: 5px 0 5px 15px;
    white-space: nowrap;
}

.border_line {
    border-bottom:1px solid #888888;
    width: 400px;
    margin: 80px 0 30px 0;
}

.works_detail_text {
    width: 410px;
    padding-bottom: 150px;
}

.sp_mock_width {
    width: 260px;
    padding-top: 20px;
}

.pc_mock_width {
    padding-top: 120px;
    width: 510px;
}

.worls_under_wrap {
    display: flex;
    justify-content: space-around;
    /* gap: 170px; */
    margin: 0 8% 0;
}

.look_lp {
    max-width: 1000px;
    margin-left: 20%;
    margin-bottom: 40px;
    text-align: center;
    width: 300px;
    height: 50px;
    border: dashed 2px #c33f4e;
    border-radius: 14px;
}

.look_lp > p {
    padding-top: 15px;
}



.fam_br {
    display: none;
}


/* ここからレスポンシブ */

@media screen and (max-width: 1180px) {
    .pc_nav {
        display: none;
    }

    .ida_aboutme_thread {
        display: none;
    }
}

/* タブ */
@media screen and (max-width: 767px) {

    .header {
        display: none;
    }

    .header_logo {
        width: 180px;
        padding: 5% 0 0 10%;
        /* position: relative;
        z-index: 200; */
       }

    .tab_header {
        display: block;
    }

    .tab_catchcopy {
        /* max-width: 375px; */
        writing-mode: vertical-rl;
        text-align: left;
        font-size: 45px;
        padding: 200px 0 0 375px;
        margin-top: 100px;

    }

    .thread_color {
        font-size: 40px;
    }

    .commitment_img {
        display: none;
    }

    .commitment {
        display: none;
    }

    .tab_commitment {
        display: block;
        padding: 100% 10% 0;
    }

    .tab_commitment_text {
        line-height: 2.0;
        text-align: center;
    }
    
    .catchcopy {
        position: relative;
        padding: 35px 0 0 82px
    }

    .tab_catchcopy {
        position: relative;
        padding: 25% 0 0 22%;
        font-size: 38px;
    }
    

    .tab_commitment_img {
        display: block;
        width: 75%;
        position: absolute;
        top: 0%;
        right: -30px;
    }
    
    .commitment {
        width: 88%;
        margin-top: 85px;
        font-size: 16px;
        text-align: start;
        padding-left: 30px;
        padding-top: 0px;
    }

    .commitment_color {
        font-size: 16px;
    }

    .pc_commitment_br {
        display: none;
    }

    #logo_mind {
        margin: 0;
    }

    .logo_text {
        padding-right: 0;
    }

    .logo_thought {
        width: 215px;
    }

   .about_wrap {
        display: none;
   }

   .sp_about_wrap {
    display: none;
   }

   .tab_about_thread { 
     display: none;
   }

   .sp_about_outer {
    display: none;
   }






   .tab_about_wrap {
    display: block;
       max-width: 617px;
       margin: 35px auto 30px ;
       display: flex;
       justify-content: center;
       gap: 50px;
    }

    .tab_about_text {
        padding: 50px 0 50px 0;
    }

    .tab_about_btn {
        text-align: right;
    }

    .tab_about_outer {
        display: block;
    }
    
  .tab_about_outer {
    margin-bottom: 130px;
  }

   .sp_about_text_wrap {
    padding-top: 50px;
   }

   .sp_about_name {
    font-size: 18px;
   }

   .sp_about_name_color {
    color: #c33f4e;
   }

   .sp_about_name_size {
    font-size: 10px;
   }

   .ida_tab_about {
    width: 230px;
   }

   .sp_about_btn {
    padding: 30px 0 130px 0;
    text-align: end;

   }

   .sp_about_more {
    width: 123px;
   }

   .ida_aboutme_thread {
    display: none;
   }

   .self_introduction {
    line-height: 1.7;
   }

   .lower_contact_text {
    margin: 0 8% 0;
   }

   .support {
    display: none;
   }

   .sp_support {
    display: none;
   }

   .tab_support {
    max-width: 480px;
    margin: 0 auto;
   }

   .tab_support_h3 {
    font-size: 25px;
    text-align: center;
   }

   .sp_tool_name {
    text-align: center;
    font-size: 20px;
    padding: 70px 0 20px 0;
   }

   .sp_support_box {
    display: flex;
    justify-content: center;
    gap: 50px;
   }

   .sp_support_border {
    border-bottom:1px solid #888888;
    padding-top: 20px;
   }

   .sp_adjustment_tool_name {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .sp_support_text {
   padding-top: 30px;
   }

   .works_wrap {
    display: none;
   }

   

.tab_works {
    display: block;
}

.tab_works_mock {
    text-align: center;
    padding-top: 50px;
}

.sp_works_mock {
    max-width: 767px;
    width: 90%;
}


.tab_works_text {
    padding: 35px 0 100px 0;
    text-align: center;
    font-size: 18px;
}

.sp_works_more {
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.tab_works_more_wrap {
    text-align: right;
    padding-right: 19%;
    animation: fluffy 4s infinite;
}

.sp_ida_works_more_btn {
    width: 144px;
}

.works_more_padding {
    padding-right: 10px;
}

.contact {
    display: none;
}

.tab_contact_form {
    
    max-width: 315px;
    margin: 0 auto;
}

.tab_contact_form_last {
    max-width: 315px;
    margin: 0 auto;
}

.tab_contact {
    display: block;
}



.tab_contact_text {
    text-align: center;
    padding-bottom: 80px;
    margin: 0 8% 0;
}

.tab_conrtact_name {
    padding:15px 0 0 0px;
}

.sp_contact_box {
    width: 315px;
    height: 40px;
    margin: 0 auto;
    background-color: antiquewhite;
    border-radius: 6px;
}

.sp_contact_box_last {
    width: 315px;
    height: 200px;
    margin: 0 auto;
    background-color: antiquewhite;
    border-radius: 6px;
}

.sp_contact_btn_wrap {
    width: 200px;
    height: 60px;
    margin: 0 auto;
}

.sp_footer {
    display: block;
}

.return {
    margin-top: 200px;
}

/* thanksページ */

.thanks {
    display: none;
} 

.tab_thanks {
    display: block;
}

.message {
    position: relative;
}
.ida_thanks_thread {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0px;
}

.toppage_jump {
    padding: 90px 0 50px;
}

.tab_message_text_wrap {
    margin: 0 8% 0;
}

.tab_thanks_thread {
    padding: 10% 0 10%;
}

/* ロゴページ */

.logo_contents {
    display: none;
}

.tab_logo_contents {
    display: block;
}

.tab_logo_tittle {
    margin: 115px 0 45px;
    font-size: 20px;
    text-align: center;
}

.tab_logo_visual {
    width: 53%;
    margin: 0 auto;
    padding-bottom: 45px;
}

.tab_logo_wrap {
    margin-bottom: 100px;
    padding: 0 8% 0;
}



.logo_text_adjustment {
    line-height: 2;
    font-size: 16px;
}

.tab_br_767px {
    display: block;
}

.logo_text_color {
    font-size: 18px;
}

.pc_br_1366px {
    display: none;
} 

.logo_text {
    padding-right: 10px;
}

/* アバウトページ */

.maincontents  {
    display: none;
}

.tab_maincontents  {
    display: block;
    margin: 0 8% 0;
    justify-content: space-between;
}

.tab_aboutme_thread {
    display: none;
}

.tab_aboutme_wrap {
    display: flex;
    justify-content: space-between;

}

.tab_ida_aboutme_01 {
    width: 40%;
}

.tab_about_text_02 {
    margin-top: auto;
    padding-bottom: 5%;
}

.tab_aboutme_wrap {
    margin: 10% 0 7%;
}

.aboutme_title_02 {
    display: none;
}

.tab_aboutme_title_02 {
    display: block;
    text-align: center;
    padding: 15% 0 5%;
}

.tab_about_me_02 {
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
}

.tab_hobby_btn {
    width: 300px;
    height: 50px;
    border: 1px dashed #c33f4e;
    border-radius: 15px;
    margin-bottom: 10px;
}

.hobby_btn_tittle {
    font-size: 20px;
    text-align: center;
    padding: 10px 0 10px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.dli-chevron-down {
    display: inline-block;
    vertical-align: middle;
    color: #c33f4e;
    line-height: 1;
    margin-top: 7px;
    width: 0.7em;
    height: 0.7em;
    border: 0.1em solid currentColor;
    border-radius: 1px;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
  }

  .hobby_btn_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    margin: 0 8% 15%;
  }

  .hobby_wrap {
    display: none;
  }

  .tab_ida_aboutme_01 {

    width: 50%;
  }

  .tab_about_name {
    font-size: 24px;
    display: flex;
    align-items: flex-end;
  }

  .about_name_size {
    padding:  0 0 5px 10px;
  }

  .sp_hooter {
    width: 100%;
    height: 70px;
    background-color: #c33f4e;
}

.sp_hooter_text {
    color: #fff;
    text-align: center;
    padding-top: 25px;
}

/* works下層 */
.works_under {
    display: none;
}

.sp_works_under {
    display: block;
}

.mock_frame {
    width: 70%;
    aspect-ratio: 1;
    margin: 0 auto;
    background-color: #f3e6d9;
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sp_mock_custom {

    width: 35%;
    /* padding-top: 60px; */
}

.sp_works_name {
    font-size: 25px;
    text-align: center;
    padding: 30px 0 50px ;
}

.sp_worls_under_wrap {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 100px auto 0;
}

.sp_border_line {
    border-bottom:1px solid #888888;
    width: 70%;
    margin: 80px 0 30px 0;
    margin: 0 auto;
} 

.sp_works_detail_text {

    width: 70%;
    text-align: left;
    margin: 15px 15% 150px;


}



}




@media screen and (max-width: 1230px)  {
    .thanks_img {
        display: none;
    }

    .commitment {
        font-size: 16px;
        margin: 80% 0 0;
        padding-top: 100px;
    }
}




@media screen and (max-width: 1260px)  {

    .about_thread {
        /* display: none; */
        width: 18%;
    }

    .contact_img {
        width: 18%;
    }

    
}

@media screen and (max-width: 1100px)  {

    .commitment {
        margin-left: 10%;
    }

    .about_thread_adjustment {
        display: block;
        width: 100%;
        margin: 40% 0 5% ;
        animation: fluffy 4s infinite;
    }

    .about_thread {
        display: none; 
    }



}

@media screen and (max-width: 1025px)  {

    .contact_img {
   display: none;
    }

    .sp_contact_thread {
        display: block;
        max-width: 1025px;
        width: 100%;
        padding: 140px 0 30px 0;
        animation: fluffy 4s infinite;
    }

    .contact_text {
        padding: 50px 0 80px 0;
    }

    .ida_aboutme_01 {
        padding-top: 10%;
        width: 40%;
    }
}

@media screen and (max-width: 980px) {

    .works_img {
        display: none;
    }

    .sp_works_thread {
        display: block;
        max-width: 980px;
        width: 100%;
        padding: 180px 0 30px 0;
        animation: fluffy 4s infinite;
    }

    .commitment {
        margin-top: 80%;
        font-size: 13px;
    }

    .logo_text {
        font-size: 13px;
    }

    .sp_mock_width {
        width: px;
    }

}

@media screen and (max-width: 900px) {
    .works_exhibition {
        flex-direction: column;
        align-items: center;
      }

      .ida_aboutme_01 {
        width: 50%;
    }

    .about_introduction {
        font-size: 14px;
    }

    /* .works_under {
        margin: 0 8% 0;
    }

    .sp_mock_width {
        width: 28%;
    } */

    .detail {
        gap: 60px;
    }
}

@media screen and (max-width: 735px) {

    .tab_about_name {
        display: block;
    }
  
    .about_name_size {
        padding-left: 0px;
    }

    .tab_about_text_02 {
        padding-right: 10%;
    }
}

@media screen and (max-width: 720px) {

    .sp_about_outer {
        display: block;
      }

      .tab_about_outer {
        display: none;
      }

      .about_text_flex {
        padding-top: 40%;
      }

      .sp_introduction {
        font-size: 24px;
      }

      .sp_about {
        display: flex;
        justify-content: space-between;
        /* gap: 55px; */
        margin: 10% 10% 0;
      }

      .ida_sp_about {
        width: 40%;
      }

      .sp_about_introduction {
        width: 80%;
        margin: 30px auto 80px;
      }

      .sp_about_btn_02 {
        margin: 0 17% 50px;
        text-align: end;
        animation: fluffy 4s infinite;
      }

      .sp_about_btn_02 > a {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: fit-content;
        margin-left: auto;
      }
}


@media screen and (max-width: 700px) {
    .tab_commitment {
        padding: 90% 10% 0;
    }

    .tab_about_me_02 {
        width: 35%;
    }

    .ida_aboutme_01 {
        padding-top: 30%;
}


}


@media screen and (max-width: 600px) {
    .ida_tab_about {
        width: 50%;
        padding-top: 50px;
    }

    .tab_catchcopy {
        padding: 20% 0 0 22%;
        font-size: 35px;
    }

    .tab_commitment {
        padding: 80% 10% 0;
    }

    .sp_about_btn_02 {
        margin-bottom: 0px;
    }

}

@media screen and (max-width: 550px) {

    .border_deco {
        width: 64px;
    }

    .menu_wrap {
        padding-bottom: 20%;
    } 

    .br_550px {
        display: block;
    }

    .tab_commitment {
        padding: 70% 10% 0;
    }

    .detail {
        gap: 60px;
        font-size: 12px;
    }

    .sp_worls_under_wrap {
        margin-top: 30px;
    }

}

@media screen and (max-width: 510px) {

    .sp_introduction {
        font-size: 21px;
      }

      .fam_br {
        display: block;
      }
}


@media screen and (max-width: 480px)  {

   .br_550px {
    display: none;
   }

   .tab_br_767px {
    display: none;
   }
   
   .pc_br_1366px {
    display: none;
   }

   .sp_br_480px {
    display: block;
   }

   .tab_support {
    /* width: 90%; */
    margin: 0 8% 0;
   }

   .br_480px_none {
    display: none;
   }

   .tab_catchcopy {
    padding: 18% 0 0 22%;
    font-size: 30px;
}
.header_logo {
    width: 140px;
}

.tab_catchcopy {
    font-size: 30px;
    padding-top: 15%;
}

/* .tab_commitment {
    padding: 90% 10% 0;
} */

.tab_commitment_text {
    text-align: left;
}

.sp_works_thread {
    padding-top: 100px;
}

.ida_tab_about {
    width: 60%;
}

.sp_about_name_size {
    padding-bottom: 100px;
}

.sp_about_btn_02 {
    margin: 0 8% 50px;
}

.sp_about_introduction {
        width: 84%;
        /* margin: 30px auto 80px; */
}

.ida_sp_about {

    width: 50%;
}

.tab_about_name {
    font-size: 18px;
}

.btn_position {
    width: 100px;
}

.btn_position {
    padding-top: 60px;
}

.top_btn_padding {
    padding-right: 68px;
}

.detail {
    gap: 40px;
}



.sp_works_name {
    font-size: 20px;
}

.sp_worls_under_wrap {
    margin-top: 30px;
}

}

@media screen and (max-width: 430px) {
    .tab_catchcopy {
        font-size: 27px;
        padding-top: 8%;
    }

    .sp_about_btn_02 {
        margin-bottom:  0px;
    }
}




@media screen and (max-width: 400px) {

    .tab_contact_text {
        font-size: 14px;
    }

    .header_logo {
        width: 120px;
    }

    .tab_commitment {
        padding: 71% 10% 0;
    }
    

    .logo > a {
        margin-top: 70px;
    }

    .tab_ida_aboutme_01 {

        width: 90%;
    }

    .about_name_size {
        font-size: 12px;
    }

    .tab_about_name {
        font-size: 16px;
    }

    .sp_contact_thread {
        padding-top: 70px;
        animation: fluffy 4s infinite;
    }

}


@media screen and (max-width: 395px) {
    
    .sp_br_395px {
        display: block;
       }

    .br_550px {
        display: none;
       }
    
       .tab_br_767px {
        display: none;
       }
       
       .pc_br_1366px {
        display: none;
       }
    
       .sp_br_480px {
        display: none;
       }

       .sp_introduction {

        font-size: 18px;
       }

       .sp_about_introduction {
        font-size: 14px;
       }
}

@media screen and (max-width: 375px) {

    .sp_br_395px {
        display: none;
       }

    .br_550px {
        display: none;
       }
    
       .tab_br_767px {
        display: none;
       }
       
       .pc_br_1366px {
        display: none;
       }
    
       .sp_br_480px {
        display: none;
       }

       .sp_br_375px {
        display: block;
       }

       .header_logo {
        width: 120px;
       }
}

@media screen and (max-width: 360px) {

    .tab_catchcopy {
        font-size: 23px;
        padding-top: 8%;
    }

}
@media screen and (max-width: 350px) {

   .works_exhibition {
    width:  90%;
}

}







/* スマホ版保存↓ */

/* @media screen and (max-width: 375px) {

    .catchcopy {
        max-width: 375px;
        writing-mode: vertical-rl;
        margin:  0 auto;
        font-size: 30px;
    }

    .thread_color {
        font-size: 40px;
    }

    .commitment_img {
        display: none;
    }

    
    .catchcopy {
        position: relative;
        padding: 35px 0 0 82px
    }
    
    /* あしらいいったん消す */

    /* .sp_commitment_img {
        display: block;
        width: 283px;
        position: absolute;
        top: 0%;
        right: 0%;
    } 
    .commitment {
        width: 88%;
        margin-top: 85px;
        font-size: 16px;
        text-align: start;
        padding-left: 30px;
    }

    .commitment_color {
        font-size: 16px;
    }

    .sp_commitment_br {
        display: block;
    }

    .pc_commitment_br {
        display: none;
    }

    #logo_mind {
        margin: 0;
    }

    .logo_text {
        padding-right: 0;
    }

    .logo_thought {
        width: 215px;
    }

   .about_wrap {
        display: none;
   }


   .sp_about_thread { 
        max-width: 375px;
        width: 100%;
   }

   .sp_about {
    max-width: 315px;
    margin: 0 auto;
   }

   .sp_about_wrap {
    display: block;
    margin: 35px 0 30px 0;
    display: flex;
    justify-content: space-between;
   }

   .sp_about_text_wrap {
    padding-top: 130px;
   }

   .sp_about_name {
    font-size: 18px;
   }

   .sp_about_name_color {
    color: #c33f4e;
   }

   .sp_about_name_size {
    font-size: 10px;
   }

   .ida_sp_about {
    width: 150px;
   }

   

   .sp_about_btn {
    padding: 30px 0 130px 0;
    text-align: end;

   }

   .sp_about_more {
    width: 123px;
   }

   .support {
    display: none;
   }

   .sp_support {
    display: block;
    max-width: 315px;
    margin: 0 auto;
   }

   .sp_support_h3 {
    text-align: center;
   }

   .sp_tool_name {
    text-align: center;
    font-size: 20px;
    padding: 70px 0 20px 0;
   }

   .sp_support_box {
    display: flex;
    justify-content: center;
    gap: 35px;
   }

   .sp_support_border {
    border-bottom:1px solid #888888;
    padding-top: 20px;
   }

   .sp_adjustment_tool_name {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sp_support_text {
    padding-top: 30px;
}

.works_wrap {
    display: none;
}

.sp_works {
    display: block;
    margin-bottom: 150px;
}

.sp_works_thread {
    width: 100%;
    padding-top: 100px;
}

.works_mock {
    text-align: center;
    padding-top: 50px;
}

.sp_works_mock {
    width: 290px;
}

.sp_works_text {
    padding: 15px 0 60px 0;
    text-align: center;
}

.sp_works_more {
    padding-right: 10px;
}

.sp_works_more_wrap {
    text-align: right;
    padding-right: 60px;
}

.sp_ida_works_more_btn {
    width: 144px;
}

.contact {
    display: none;
}

.sp_contact {
    display: block;
}

.sp_contact_thread {
    padding-bottom: 50px;
}

.sp_contact_text {
    text-align: center;
    padding-bottom: 80px;
}

.sp_contact_box {
    width: 315px;
    height: 30px;
    margin: 0 auto;
    background-color: antiquewhite;
}

.sp_conrtact_name {
    padding:15px 0 0 30px;
}

.sp_contact_box_last {
    width: 315px;
    height: 200px;
    margin: 0 auto;
    background-color: antiquewhite;
}

.sp_contact_btn_wrap {
    width: 200px;
    height: 60px;
    margin: 0 auto;
}




.hooter_wrap {
    display: none;
}

.sp_footer {
    display: block;
}



} */