@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4e3f36;
  font-family: "hina-mincho", sans-serif;
  font-weight: 400;
  font-style: normal;

}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

body {
    /* max-width: 1000px; */
    margin: 0 auto;
    background-color: #fcf8e7;
}

/* ここまでリセットcss */

.header_logo {
    width: 203px;
    padding: 10px 0 0 70px;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

/* あしらい固定 */
.commitment_img {
    width: 68%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .pc_nav {
    padding: 0 0 25px 0;
  }


.pc_nav ul {
    display: flex;
    list-style: none;
    font-size: 16px;
    gap: 50px;
  }

  li:last-child {
    padding: 0 70px 0 0;
  }

  /* キャッチコピー */
  .catchcopy {
    font-size: 40px;
    line-height: 1.87;
    margin: 270px 0 0 375px;
    font-weight: normal;
  }
  
  /* 糸だけ色を変える */
  .thread_color {
    font-size: 60px;
    color:#c33f4e
  }

  /* こだわり部分 */
  .commitment {
    font-size: 18px;
    text-align: center;
    line-height: 1.87;
    margin: 426px 0 0;
  }

  

  /* 部分的に色を変える */
  .commitment_color {
    font-size: 22px;
    color:#c33f4e
  }

  /* ロゴのページへ */
  .logo_mind_btn {
    font-size: 16px;
    padding: 130px 0px 0 0px;
  }

  .logo > a {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 135px 19% 0 0;
  }

  .logo_thought {
    width: 288px;
  }

  .about {
    font-size: 16px;
    padding: 160px 0 0 255px;
    position: relative;
  }

  .about_wrap {
    display: flex;
    margin: 225px 0 0 0;
  }

  .about_name {
    font-size: 25px;
    padding: 15px 0 40px 0;
  }
  .about_color {
    color:#c33f4e;
  }
  .about_name_size {
    font-size: 16px;
  }

  .about_img {
    position: absolute;
    top: 0;
    left: 660px;
  }

  .about_more_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 0 0 165px;
  }

  .about_more {
    width: 144px;
  }


  .about_btn {
    display: block;
    width: 10%;
    padding:0 0 0 435px;
    position: absolute;
    top: 2200px;
    left: 0px;
    /* 一旦これで応急処置して他を進める */
  }

  .about_thread {
    width: 100px;
    
  }
  

  .support_h3{
    font-size: 30px;
    font-weight: normal;
    margin: 295px 0 120px 0;
    text-align: center;
  }
  .support_h3_color {
    color: #c33f4e;
  }



.support_box {
    display: block;
    display: flex;
    padding: 0 40px 0 40px;
}

.support_icon {
    width: 50px;
    padding: 0 35px 0 0;
}

.adjustment_tool_name {
    font-size: 14px;
    padding: 0 0 60px 0;
}

.tool_name_wrap {
    width: 300px;
    padding: 0 0 0 0px;
}
.tool_name {
    font-size: 30px;
    font-weight: normal;
    border-bottom: 1px solid #888888;
}

.support_text {
    width: 300px;
    padding: 30px 0 50px 0;
    line-height: 1.56;
}

.support_king {
    display: flex;
    justify-content: space-between;
    margin: 0 183px 130px 183px;

}

.support_box_last {}

.works_wrap {
    position: relative;
}
.works_img {
    
}

.works_img_position {
    position: absolute;
    top: 0px;
    left: 0px;

}

.pc_mock_01 {
    width: 580px;
    display: block;
    /* margin: 0 auto; */
    /* padding: 430px 0 0 490px; */
    margin-left: auto;
    padding: 290px 21% 0 0;
    
}

.works_text {
    padding: 60px 0 0 0px;
    font-size: 25px;
    text-align: center;
}

.works_more {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 5px 320px;
}

.ida_works_more_btn {
    width: 145px;
    display: flex;
    
}



.contact_text {
    text-align: center;
    line-height: 1.87;
    padding: 310px 0 60px 0;

    /* カンプとズレ */
}

.contact_box {
    background-color: #f3e6d8;
    margin: auto;
    width: 650px;
    height: 50px;
    border-radius: 8px; 
}

.contact_box_text {
    background-color: #f3e6d8;
    margin: auto;
    width: 650px;
    height: 300px;
    border-radius: 8px; 
}

.contact_wrap {
    margin: 45px 0 45px 0;
}

.contact_guide {
    position: relative;
}
.contact_img {
    width: 255px;
    height: 795px;
    position: absolute;
    top: 10;
    right: 0;
}

.conrtact_name {
    padding: 0 0 15px 370px;
}

.contact_btn {
    width: 203px;
}

.contact_btn {
    padding: 48px 0 300px 0;
    margin: 0 auto;
    position: relative;

}

.contact_btn_text {
    position: absolute;
    top: 70px;
    left: 70px;
    color: white;
}

.hooter {
    width: 100%;
    height: 100px;
    background-color: #c33f4e;
}

.hooter_text {
    text-align: center;
    padding: 40px 0 0 0;
    color: #fff;
}

.top_btn_box {
    width: 150px;
    padding: 0 0 40px 0;
    margin-left: auto;
}

.top_btn_padding {
    padding: 8px;
}